<div class="container pt-5" style="background-color: white">
  <div class="row cover-avatar">
    <div class="col-12 col-md-12 col-lg-4" style="text-align: center;">
      <img src=<%= @profile_user.avatar %> class="rounded-circle avatar" style="display: inline-block;">
    </div>

    <div class="col-12 col-md-12 col-lg-8 text-profile">
      <div class="text-profile-sub">
        
        <%= render 'follow_container', profile_user: @profile_user %>

        <h1 class="name-account"><%= @profile_user.firstname + " " + @profile_user.lastname %></h1>
        <ul>
          
          <li class="list-inline-item">
            <%= link_to profiles_path(@profile_user.id), :class=>"link-in-profiles", :style=>"text-decoration: none;" do %>
              <h3 class="inline-item"><%= @profile_user.count_of_photos %></h3> <span>PHOTOS</span>  &verbar;
            <% end %>
          </li>
          
          <li class="list-inline-item">
            <%= link_to profiles_albums_path(@profile_user.id), :class=>"link-in-profiles", :style=>"text-decoration: none;" do %>
              <h3 class="inline-item"><%= @profile_user.count_of_albums %></h3> <span>ALBUMS</span> &verbar;
            <% end %>
          </li>
          
          <li class="list-inline-item">
            <%= link_to profiles_followings_path(@profile_user.id), :class=>"link-in-profiles", :style=>"text-decoration: none;" do %>
              <h3 class="inline-item"><%= @profile_user.count_of_followings %></h3> <span>FOLLOWINGS</span>  &verbar;
            <% end %>
          </li>
          
          <li class="list-inline-item choice">
            <%= link_to profiles_followers_path(@profile_user.id), :class=>"link-in-profiles", :style=>"text-decoration: none;" do %>
              <h3 class="inline-item-choice"><%= @followers.size %></h3> <span>FOLLOWERS</span>
            <% end %>
          </li>
        
        </ul>
      </div>      
    </div>
  </div>

  <div class="row pt-5">
    <% @followers.each do |follower| %>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3" style="margin-bottom: 30px;">
        <div class="card rounded card-followings" style="background-color: #F8F8F8;">
          <%= link_to profiles_path(follower.user.id), :style=> "text-decoration: none;" do %>
            <div class="cover-avatar-card">
              <img src=<%= follower.user.avatar %> class="rounded-circle card-avatar" style="display: inline-block;">
            </div>
          <% end %>
          <div class="card-body" style="max-height: 180px; width: 100%">
              <div class="container">
                <div class="row cover-name-followings">
                  <p class="name-followings"><%= follower.user.firstname + " " + follower.user.lastname %></p>
                </div>
                <div class="row">
                  <div class="col-6">
                    <strong class="num-photo-album-profile-card"><%= follower.user.count_of_photos %></strong>
                    <strong class="photo-album-profile-card">PHOTOS</strong>
                  </div>
                  <div class="col-6">
                    <strong class="num-photo-album-profile-card" style="font-size: 24px; text-align: center; color: #3C5999; display: block;"><%= follower.user.count_of_albums %></strong>
                    <strong class="photo-album-profile-card">ALBUMS</strong>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12" style="padding-top: 0px;">
                    <div class="follow-card" style="margin-top: 0px;">
                    <% if current_user.id != follower.user.id %> 
                      <% @cmp_extra = current_user.follows.where(id_following: follower.user.id).size %>   
                      <% if @cmp_extra == 0 %>
                        <%= link_to follows_create_path(follower.user.id), :style=>"text-decoration:none;", :method=>"POST" do %>
                          <div class="rounded-pill follow-down">
                            <span><strong class="follow-down-text">follow</strong></span>
                          </div>
                        <% end %>
                      <% else %>
                        <div class="rounded-pill following-down">
                          <span><strong class="following-down-text">following</strong></span>
                        </div>
                      <% end %>
                    <% end %>
                    </div>
                  </div> 
                </div>
              </div>
            </div>
        </div>
      </div>
    <% end %>
  </div>
</div>