<div class="container pt-5" style="background-color: white">
  <div class="row cover-avatar">
    <div class="col-12 col-md-12 col-lg-4" style="text-align: center;">
      <img src=<%= @profile_user.avatar %> class="rounded-circle avatar" style="display: inline-block;">
    </div>

    <div class="col-12 col-md-12 col-lg-8 text-profile">
      <div class="text-profile-sub">
        
        <%= render 'follow_container', profile_user: @profile_user %>
        
        <h1 class="name-account"><%= @profile_user.firstname + " " + @profile_user.lastname %></h1>
        <ul>
          
          <li class="list-inline-item choice">
            <%= link_to profiles_path(@profile_user.id), :class=>"link-in-profiles", :style=>"text-decoration: none;" do %>
              <h3 class="inline-item-choice"><%= @profile_user.count_of_photos%></h3> PHOTOS  &verbar;
            <% end %>
          </li>
          
          <li class="list-inline-item">
            <%= link_to profiles_albums_path(@profile_user.id), :class=>"link-in-profiles", :style=>"text-decoration: none;" do %>
              <h3 class="inline-item"><%= @profile_user.albums.size %></h3> ALBUMS  &verbar;
            <% end %>
          </li>
          
          <li class="list-inline-item">
            <%= link_to profiles_followings_path(@profile_user.id), :class=>"link-in-profiles", :style=>"text-decoration: none;" do %>
              <h3 class="inline-item"><%= @profile_user.follows.size %></h3> FOLLOWINGS  &verbar;
            <% end %>
          </li>
          
          <li class="list-inline-item">
            <%= link_to profiles_followers_path(@profile_user.id), :class=>"link-in-profiles", :style=>"text-decoration: none;" do %>
              <h3 class="inline-item"><%= @followers.size %></h3> FOLLOWERS
            <% end %>
          </li>
        
        </ul>
      </div>
      
    </div>
  </div>
  <div class="row pt-5 pb-5">
    <% @photos.each do |photo| %>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3" style="">
        <div class="cover-photo-profile">
          <img src=<%= photo.source %> class="one-photos rounded" style="width: 230px; height: 230px" alt="...">
        </div>
        <div class="title-photo"><%= photo.title %></div>
        <% if @profile_user == current_user %>
          <%=  link_to edit_photo_path(photo.id), :class=>"link-btn-edit-photo" do %>
            <div class="cover-btn-edit-photo">
              <div class="rounded-pill edit-profile btn-edit-photo">
                <span><strong class="edit-profile-text">edit photo</strong></span>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>