<div class="container pt-5" style="background-color: white">
  <div class="row cover-avatar">
    <div class="col-12 col-md-12 col-lg-4" style="text-align: center;">

      <% if @profile_user.avatar_identifier == "none" %>
        <img src="/images/avatar_temp/avatar.png" class="rounded-circle avatar" style="display: inline-block;">
      <% else %>
        <img src=<%= @profile_user.avatar %> class="rounded-circle avatar" style="display: inline-block;">
      <% end %>

    </div>

    <div class="col-12 col-md-12 col-lg-8 text-profile">
      <div class="text-profile-sub">
        
        <%= render 'follow_container', profile_user: @profile_user %>
        
        <h1 class="name-account"><%= @profile_user.firstname + " " + @profile_user.lastname %></h1>
        <ul>
          
          <li class="list-inline-item choice">
            <%= link_to profiles_path(@profile_user.id), :class=>"link-in-profiles", :style=>"text-decoration: none;" do %>
              <h3 class="inline-item-choice"><%= @profile_user.count_of_photos%></h3> PHOTOS  &verbar;
            <% end %>
          </li>
          
          <li class="list-inline-item">
            <%= link_to profiles_albums_path(@profile_user.id), :class=>"link-in-profiles", :style=>"text-decoration: none;" do %>
              <h3 class="inline-item"><%= @profile_user.count_of_albums %></h3> ALBUMS  &verbar;
            <% end %>
          </li>
          
          <li class="list-inline-item">
            <%= link_to profiles_followings_path(@profile_user.id), :class=>"link-in-profiles", :style=>"text-decoration: none;" do %>
              <h3 class="inline-item"><%= @profile_user.count_of_followings %></h3> FOLLOWINGS  &verbar;
            <% end %>
          </li>
          
          <li class="list-inline-item">
            <%= link_to profiles_followers_path(@profile_user.id), :class=>"link-in-profiles", :style=>"text-decoration: none;" do %>
              <h3 class="inline-item"><%= @followers.size %></h3> FOLLOWERS
            <% end %>
          </li>
        
        </ul>
      </div>
      
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <%= link_to new_photo_path, :method => "GET" do %>
      <div class="rounded-pill btn-add-photo">
        <span><strong class="btn-add-photo-text">Add Photo</strong></span>
      </div>
      <% end %>
    </div>
  </div>

  <div class="row pt-5 pb-5">
    <% @photos.each do |photo| %>
      <% if @profile_user.id != current_user.id and photo.status == false %>
        
        <%next%>

      <% end %>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3" style="margin-bottom: 50px;">
        <div class="cover-photo-profile" >
          <img src=<%= photo.source %> class="one-photos rounded" style="width: 230px; height: 230px; position: relative;" alt="...">  
        </div>
        <div class="title-photo"><%= photo.title %></div>
        <% if @profile_user == current_user %>
          <%= link_to edit_photo_path(photo.id) do %>
            <div class="background-btn-edit"></div>

            <div class="text-btn-edit">EDIT</div>
          <% end %>
        <% end %>
    
        <% if photo.status == false %>
          <div class="background-icon-lock rounded-circle">
            <i class="fas fa-lock"></i>
          </div>
        <% end %>

        <%= link_to destroy_photo_path(photo.id), :method => "DELETE" do %>
          <div class="background-icon-delete rounded-circle">
            <i>&times;</i>
          </div>
        <% end %>

      </div>
    <% end %>
  </div>
</div>