<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <%= yield %>
</div>


<div class= "container pt-3" style="background-color: white">
	
	<div class="row photos_to_albums">		
		<div class="btn-group" role="group" aria-label="Basic example">
			<%= link_to "Photos", photos_path, :class => "btn btn-secondary mode_album_button", :style => "color:#4e69a2;" %>
			<%= link_to "Albums", albums_path, :class => "btn btn-secondary mode_photo_button"%>
		</div>
	</div>

	<div class="row">
		<%= render 'albums_container', photos: @albums%>
	</div>
</div>

