<div class="container pt-3" style="background-color: #FFFFFF;">
	<div class="row photos_to_albums">
		<div class="btn-group" role="group" aria-label="Basic example">
			<%= link_to "Photos", photos_path, :class => "btn btn-secondary mode_photo_button" %>

			<%= link_to "Albums", albums_path, :class => "btn btn-secondary mode_album_button", :style => "color:#4e69a2;"%>
		</div>
	</div>
	<div class="row">
	<!-- Modal -->
		<div class="myModal modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<img src="source" alt="..." class="card-img image-modal">
					</div>
					<div class="modal-footer overide-footer">
						<p></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row ab">
		<% @photos.each_with_index do |photo| %>	
			<div class="col-12 col-sm-12 col-md-6 model">
					<div class="row no-gutters">
						<div class="col-md-7" data-toggle="modal" data-target="#exampleModal">
							<img src=<%= photo.source %> alt="..." class="card-img image shadow">
						</div>
						<div class="col-md-5 decrible">
							<div class="card-body">
								<div>
									<img src="/images/image3.png" alt="..." class="rounded-circle" style="width: 30px; height: 30px">
									<span><%=photo.user.firstname%></span>
								</div>
								<h5 class="card-title" style="text-align: center"><%= photo.title %></h5>
								<p class="card-text-decription" style="color: red"><%= photo.decription %></p>
								<p class="card-text-created_at"><i><small class="text-muted">3 mins ago</small></i></p>

								<p class="react" style="padding-right: 2px">
								<i id="react" class="far fa-heart"></i>
								<i style="padding-bottom: 3px"><%= photo.reacts.size %></i>
							</p>
							</div>
							
						</div>
					</div>
			</div>
		<% end %>
	</div>
</div>
