<div class="container pt-3" style="background-color: #FFFFFF; padding-top: 10px;">
  <div class="row">
    <div class="col">
      <p style="font-weight: bold; padding-top: 20px; font-size: 30px;">Edit User Profile</p>
      <hr>
    </div>
    
  </div>

  <div class="row" style="margin-bottom: 20px;">
    <div class="col">
      <h3>Avatar</h3>
      <img src=<%= current_user.avatar %> class="rounded float-left" style="height: 200px; width: 200px;">
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= form_for current_user, :url => update_user_avatar_customs_path(current_user.id), :method => "put" do |f| %>
        <div class="field form-group">
          <%= f.file_field :avatar %>
        </div>

        <div class="actions">
          <%= f.submit "Save", :class=>"btn btn-primary" %>
        </div>

      <% end %>
      <hr>
    </div>
  </div>

  <div class="row" style="margin-bottom: 20px;">
    <div class="col">
      <h3>Basics Information</h3>
        <%= form_for current_user, :url => update_user_customs_path(current_user.id), :method => "put" do |f| %>
          <div class="field form-group">
            <%= f.label :lastname %><br />
            <%= f.text_field :lastname, :class=>"form-control" %>
          </div>

          <div class="field form-group">
            <%= f.label :firstname %><br />
            <%= f.text_field :firstname, :class=>"form-control" %>
          </div>

          <div class="field form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", :class=>"form-control" %>
          </div>

          <div class="actions">
            <%= f.submit "Save", :class=>"btn btn-primary" %>
          </div>

        <% end %>
        <hr>
    </div>  
  </div>

  <div class="row">
    <div class="col">
      <h3>Password</h3>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "users/shared/error_messages", resource: resource %>
          <div class="field">
            <%= f.label :password %> <!--i>(leave blank if you don't want to change it)</i--><br />
            <%= f.password_field :password, autocomplete: "new-password", :class=>"form-control" %>
            <% if @minimum_password_length %>
              <br />
              <!--em><%= @minimum_password_length %> characters minimum</em-->
            <% end %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", :class=>"form-control" %>
          </div>

          <div class="field">
            <%= f.label :current_password %> <!--i>(we need your current password to confirm your changes)</i--><br />
            <%= f.password_field :current_password, autocomplete: "current-password", :class=>"form-control" %>
          </div>

          <div class="actions">
            <%= f.submit "Save", :class=>"btn btn-primary" %>
          </div>
        <% end %>
        <hr>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3>Cancel my account</h3>

      <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class=>"btn btn-danger" %></p>

      <%= link_to "Back", :back, :class=>"btn btn-primary" %>
    </div>
  </div>
</div>






